@font-face {
  font-family: Oxygen;
  src: local(Oxygen), url("../fonts/Oxygen-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(0, 0, 1);
  font-size: 26px;
  font-family: Oxygen, sans-serif;
  color: #fefefe;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fefefe
}

@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './App.scss';