* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(0, 0, 1);
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './App.scss';